<%- include("partials/header") %>

    <div class="center">
        <h2 class="heading">BASIC BANKING SYSTEM</h2>
    </div>

    <div class="container1">
        <div class="hero_content">

            <div class="hero_items">
                <h1> Dream it. Achieve it.</h1>
                <p class="big"><strong>Welcome To TSF GRIP BANK</strong></p>
                <p>"Adventure is the life of commerce, but caution is the life of banking." </p>

                <li class="link"><a class="btn-first" href="/view">Do Transaction</a></li>

            </div>
        </div>

        <div class="hero_right1">
            <img src="/images/image4.jpg" alt="image" />
        </div>
    </div>


    <%- include("partials/footer") %>